body
{
color:white;
background: cornflowerblue;
}
.heading
{
width:80%;
font-size:20px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{ 
color: rgb(2, 53, 53);
}

#camera
{
width: 350px;
height: 300px;
border: 2px dashed black;
}